body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    padding: 20px;
    line-height: 1.6;
    color: #333;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
  
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #4A4E69;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.section {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    color: #222;
}

.mcq {
    margin-top: 10px;
}

.option {
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s ease;
    background: #f9f9f9;
}

.option:hover {
    background: #eee;
}

.option.correct {
    background-color: #d4edda;
    border-color: #28a745;
    color: #155724;
}

.option.wrong {
    background-color: #f8d7da;
    border-color: #dc3545;
    color: #721c24;
}

.option.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.material-field-input.login-input {
    width: 100%;
    padding: 12px 14px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 15px;
    background-color: #fefefe;

    &:focus {
        border-color: #635985;
        box-shadow: 0 0 0 3px rgba(99, 89, 133, 0.2);
        outline: none;
        background-color: #fff;
    }

    &.danger {
        border-color: #ff4d4f;
        background-color: #fff0f0;
    }

    &.success {
        border-color: #52c41a;
        background-color: #f6ffed;
    }
}

.material-field-label {
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    color: #393053;
}

.clear-button,
.password-toggle-button {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #393053;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        color: #635985;
    }
}

.clear-button-password {
    right: 42px;
}

.input-container {
    display: flex;
    justify-content: center;
    height:65px;
    margin: 20px 0;
    border-radius: 0px 0px 20px 20px;
    text-indent: 5px;
}

.input-container textarea{
    border-radius: 50px;
    text-align: left;
    align-content: center;
    width: 50vw;
    height: auto;
    padding:20px;
    /* -webkit-text-stroke: thin; */
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 

}

.input-container button {
    position: relative;
    right: 60px;
    width: 40px;
    top: 10px;
    font-size: 30px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#inputText::-webkit-scrollbar {
    display: none;
  }

.input-container button:hover {
    background-color: #ccc;
  }




