<nav class="navbar" data-aos="fade-down">
    <div class="logo">⚡ <span id="dynamic-name"></span></div>
    
    <ul class="nav-links" id="navLinks">
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#tools">Tools</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#vault">Notes</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
  </nav>


    <!-- Light/Dark Toggle -->
    <div class="theme-toggle" data-aos="fade-down" onclick="toggleTheme()">
      <span id="theme-icon">🌞</span>
    </div>
